<!-- Footer Section -->
<footer class="bg-dark-green text-light rounded-t-theme lg:rounded-t-theme-lg py-20 lg:py-[5.6vw] 3xl:py-28 -mt-4 relative z-20">
  <div class="container">
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-[112fr_88fr] gap-10 md:gap-[5.6vw] 3xl:gap-[109px]">
      <div class="flex flex-col">
        <a class="mb-10" href="/">
          <img class="w-[232px] lg:w-[20.9vw] 3xl:w-[403px]" width="403" height="57" src="./assets/images/svg/logo.svg" alt="logo" />
        </a>
        <p class="mb-10 md:mb-14">Diamond Energy acknowledges the Traditional Custodians of Country throughout Australia and their connections to land, waters and community. We pay respect to their Elders past and present and extend that respect to all Aboriginal and Torres Strait Islander peoples.</p>
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-2 xl:grid-cols-3 gap-10 lg:gap-0 mb-10 lg:mb-24">
          <div class="flex flex-col gap-7">
            <div>Important Information</div>
            <ul class="flex flex-col gap-3">
              <li><a href="#">Basic Plan Information</a></li>
              <li><a href="#">Concessions and Rebates</a></li>
              <li><a href="#">Your Meter</a></li>
              <li><a href="#">Faults & Emergencies</a></li>
            </ul>
          </div>
          <div class="flex flex-col gap-7">
            <div>Terms & Conditions</div>
            <ul class="flex flex-col gap-3">
              <li><a href="#">Service Fees & Charges</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Credit Reporting Policy</a></li>
              <li><a href="#">Consumer Data Right</a></li>
            </ul>
          </div>
          <div class="flex flex-col gap-7">
            <div>Pay Your Bill</div>
            <ul class="flex flex-col gap-3">
              <li><a href="#">Payment Assistance</a></li>
            </ul>
          </div>
        </div>
        <div class="flex items-end gap-[4.6vw] 3xl:gap-[89px]">
          <div class="flex flex-col gap-7">
            <div>Connect</div>
            <ul class="flex flex-col gap-3">
              <li><a target="_blank" href="#">LinkedIn</a></li>
            </ul>
          </div>
          <div class="flex flex-col gap-7">
            <div>Contact Us</div>
            <ul class="flex flex-col gap-3">
              <li><a href="tel:1300838009">1300 838 009</a></li>
            </ul>
          </div>
         
        </div>
      </div>
      <div class="flex flex-col gap-10 md:gap-12 lg:gap-16">
        <form class="flex flex-col">
          <p class="mb-6 md:mb-7">Stay up to date on all Diamond Energy insights by subscribing to our Newsletter.</p>
          <input required type="email" placeholder="Enter your email address" class="mb-7 px-8 py-4 rounded-full bg-white text-dark-blue placeholder:text-dark-blue/60 focus:outline-none">
          {{ Button("Submit", "#", "light-green") }}
        </form>
        <div class="flex gap-6 md:gap-10 xl:gap-12 items-center md:items-end flex-col md:flex-row">
          <ul class="flex gap-4">
            <li><a target="_blank" href="#"><img src="./assets/images/svg/instgram-logo.svg" alt="instgram"></a></li>
            <li><a target="_blank" href="#"><img src="./assets/images/svg/linkedin-logo.svg" alt="linkedin"></a></li>
            <li><a target="_blank" href="#"><img src="./assets/images/svg/facebook-logo.svg" alt="facebook"></a></li>
          </ul>
          <div class="flex flex-col items-center text-center gap-3 text-xs md:text-[17px]">
            <img src="./assets/images/svg/map.svg" alt="Map Australia">
            100% Australian<br/> Owned
          </div>
          <div class="shrink-0">
            <img width="210" height="71" src="./assets/images/svg/eko.svg" alt="eko">
          </div>
        </div>
        
        
        <ul class="flex flex-col md:flex-row items-center justify-between mt-auto gap-3 md:gap-4">
          <li>ABN 93 001 263 734</li>
          <li>&copy; 2025 Diamond Energy</li>
          <li><a data-backtotop href="javascript:;">Back To The Top</a></li>
        </ul>
 
      </div>
    </div>
  </div>
</footer>